<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linshu.billionaire.mapper.SsqMapper">
    <resultMap id="result" type="com.linshu.billionaire.entity.SsqEntity">
        <result property="id" column="id" />
        <result property="numId" column="numId" />
        <result property="red1" column="red1"/>
        <result property="red2" column="red2"/>
        <result property="red3" column="red3"/>
        <result property="red4" column="red4"/>
        <result property="red5" column="red5"/>
        <result property="red6" column="red6"/>
        <result property="blue" column="blue"/>
        <result property="redOrder1" column="redOrder1"/>
        <result property="redOrder2" column="redOrder2"/>
        <result property="redOrder3" column="redOrder3"/>
        <result property="redOrder4" column="redOrder4"/>
        <result property="redOrder5" column="redOrder5"/>
        <result property="redOrder6" column="redOrder6"/>
        <result property="openDate" column="openDate"/>
        <result property="updateTime" column="updateTime"/>
        <result property="isDownload" column="isDownload"/>
    </resultMap>
    
    <select id="selectAllList" resultMap="result">
        SELECT * FROM t_ssq
    </select>

    <select id="getMaxNumId" resultType="int">
        SELECT max(numId) FROM t_ssq
    </select>

    <select id="selectById" resultMap="result" parameterType="int">
        SELECT * FROM t_ssq WHERE id = #{id}
    </select>


<!--    <select id="selectByRedOrderBall" resultMap="result" >-->

<!--    </select>-->

    <select id="selectByBlueBall" resultMap="result" parameterType="int">
        SELECT * FROM t_ssq WHERE blue = #{blue}
    </select>
    
    <select id="countTotalTurn" resultType="int">
        SELECT count(id) FROM t_ssq
    </select>

    <!-- insert -->
    <insert id="insert" parameterType="SsqEntity" useGeneratedKeys="true" keyProperty="id">
        insert into t_ssq (numId, red1, red2, red3, red4, red5, red6, blue, redOrder1, redOrder2, redOrder3, redOrder4,
                           redOrder5, redOrder6, openDate, updateTime, isDownload)
        values(#{numId}, #{red1}, #{red2}, #{red3}, #{red4}, #{red5}, #{red6}, #{blue}, #{redOrder1}, #{redOrder2}, #{redOrder3}, #{redOrder4},
                #{redOrder5}, #{redOrder6}, #{openDate}, #{updateTime}, #{isDownload})
    </insert>

    <insert id="insertBatch" parameterType="SsqEntity">
        <foreach collection="entities" item="item" index="index" separator=";">
            insert into t_ssq (numId, red1, red2, red3, red4, red5, red6, blue, redOrder1, redOrder2, redOrder3, redOrder4,
                            redOrder5, redOrder6, openDate, updateTime, isDownload)
            values(#{item.numId}, #{item.red1}, #{item.red2}, #{item.red3}, #{item.red4}, #{item.red5}, #{item.red6}, #{item.blue}, #{item.redOrder1}, #{item.redOrder2}, #{item.redOrder3}, #{item.redOrder4},
                        #{item.redOrder5}, #{item.redOrder6}, #{item.openDate}, #{item.updateTime}, #{item.isDownload})
        </foreach>
    </insert>
<!--    //TODO 待处理-->
<!--    List<SsqEntity> selectByConditions(SsqEntity condition);-->

<!--        Boolean insert(SsqEntity entity);-->
<!--    Boolean insertList(List<SsqEntity> entity);-->

<!--    Boolean update(SsqEntity entity);-->
<!--    Boolean updateList(List<SsqEntity> entity);-->

<!--    Boolean deleteById(long id);-->
<!--    Boolean deleteByConditions(SsqEntity entity);-->
</mapper>